.course-form {
  width: 90%;
  height: 90%;
  margin-top: 2%;
  margin-left: 5%;
  padding: 30px 30px 30px 30px;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: -1px 2px 69px -15px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: -1px 2px 69px -15px rgba(0, 0, 0, 0.35);
  box-shadow: -1px 2px 69px -15px rgba(0, 0, 0, 0.35);
}

.row {
  width: 100%;
}

.col {
  width: 50%;
}

.chaptersList {
  width: 10%;
}

.upload_button {
  border: solid 3px #DF8930;
  width: 100%;
  padding: 5px 5px 5px 5px;
  color: #DF8930;
  background-color: white;
}

.buffer {
  height: 30px;
}

#resource {
  -webkit-box-shadow: -1px 2px 69px -15px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: -1px 2px 69px -15px rgba(0, 0, 0, 0.35);
  box-shadow: -1px 2px 69px -15px rgba(0, 0, 0, 0.35);
  border: solid transparent;
  margin-bottom: 20px;
}

#resource h6 {
  font-size: 18px;
  font-weight: 800;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
  max-height: 200px;
  -webkit-box-shadow: -1px 2px 69px -15px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: -1px 2px 69px -15px rgba(0, 0, 0, 0.35);
  box-shadow: -1px 2px 69px -15px rgba(0, 0, 0, 0.35);
}

video {
  max-height: 200px;
  -webkit-box-shadow: -1px 2px 69px -15px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: -1px 2px 69px -15px rgba(0, 0, 0, 0.35);
  box-shadow: -1px 2px 69px -15px rgba(0, 0, 0, 0.35);
}
