.course-form{
  width:90%;
  height: 90%;
  margin-top:2%;
  margin-left:5%;
  padding: 30px 30px 30px 30px;
  background-color: white;
  border-radius:5px 5px 5px 5px;
  -webkit-box-shadow: 10px 10px 23px 6px rgba(168, 113, 36, 1);
  -moz-box-shadow: 10px 10px 23px 6px rgba(168, 113, 36, 1);
  box-shadow: 10px 10px 23px 6px rgba(168, 113, 36, 1);
}
.row{
  width:100%;
}

.col{
  width:50%;
}
.chaptersList{
  width: 10%;
}
