<div class="content">
  <div class="container">
      <div class="buffer20">
        </div>
    <div class="row">
      <div class="col-lg-12">
        <section id="auth-button"></section>
      </div>
    </div>
    <div class="buffer20">
    </div>
    <div class="row session-chart shadow">
      <div class="col-lg-3">
        <section id="view-selector"></section>
      </div>
      <div class="col-lg-9">
        <section id="timeline"></section>
      </div>
    </div>
    <div class="buffer20">

      </div>
    <div class="row country-chart shadow">
      <div class="col-lg-3">
        <div id="view-selector-1-container"></div>
      </div>
      <div class="col-lg-9">
        <div id="chart-1-container"></div>
      </div>
    </div>
    <div class="buffer20">
      </div>
  </div>
</div>
