<div class="content">
<app-loading [condition]="isLoading"></app-loading>
<app-toast [message]="toast.message"></app-toast>
<nav class="navbar navbar-dark" mat-tab-nav-bar >
    <a routerLink="/publish/new" class="nav-item nav-link" mat-tab-link  routerLinkActive="active">
      <h5><i class="fa fa-plus"></i> Add</h5>
    </a>
    <a routerLink="/publish/unPublishedList" class="nav-item nav-link" mat-tab-link  routerLinkActive="active">
      <h5><i class="fa fa-list"></i> un-published list</h5>
    </a>
</nav>
<router-outlet></router-outlet>
</div>
