.course-form{
  width:90%;
  height: 90%;
  margin-top:2%;
  margin-left:5%;
  padding: 50px 50px 50px 50px;
  background-color: white;
  border-radius:5px 5px 5px 5px;
  -webkit-box-shadow: -1px 2px 69px -15px rgba(0,0,0,0.35);
  -moz-box-shadow: -1px 2px 69px -15px rgba(0,0,0,0.35);
  box-shadow: -1px 2px 69px -15px rgba(0,0,0,0.35);
}
.content{
  border:solid #00ADBB;
}
.row{
  width:100%;
}

.col{
  width:50%;
}
.buffer{
  height:20px;
}
.actions{
  width:50%;
}
