<div class="content container-fluid" *ngIf="course">
  <mat-tab-group>
    <mat-tab *ngFor="let chapter of course.content.chapters; let i = index">
      <ng-template mat-tab-label>
        {{i+1}}-{{chapter.title}}
      </ng-template>
      <div class="buffer50"></div>
      <button type="button" class="btn btn-info btn-lg" (click)="resourcesToggle()">DOWNLOADABLE RESOURCES</button>
      <br>
      <div id="resources" *ngIf="toggle">
        <div class="row" *ngFor="let resource of chapter.resources;let k=index">
          <div class="col-lg-2" id="resource">
            <a href="{{resource.link}}" download="">{{resource.name}}</a>
          </div>
          <div class="col-lg-10"></div>
        </div>
      </div>
      <div class="buffer50"></div>
      <mat-tab-group>
        <mat-tab *ngFor="let lesson of chapter.lessons; let j = index">
          <ng-template mat-tab-label>
            {{i+1}}.{{j+1}}-{{lesson.title}}
          </ng-template>
          <div class="buffer20">
          </div>
          <div class="">
            <div class="row">
              <div class="col-lg-4"></div>
              <div class="col-lg-4">
                <mat-slider min="1" [(ngModel)]="dividerRatio" tickInterval="1" max="11" step="1" thumb-label="true"></mat-slider>
              </div>
              <div class="col-lg-4"></div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-{{dividerRatio}}" id="material">
                <div *ngIf="lesson.content" [innerHTML]="lesson.content"></div>
                <iframe class="frame" [src]="lesson.contentFile | safe" *ngIf="lesson.contentFile" frameborder="0"></iframe>
              </div>
              <div class="col-lg-{{12-dividerRatio}}" id="image">
                <img *ngIf="lesson.image && !lesson.video" src="{{lesson.image}}">
                <div *ngIf="lesson.video">
                  <vg-player>
                    <vg-overlay-play></vg-overlay-play>
                    <vg-buffering></vg-buffering>

                    <vg-scrub-bar>
                      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                    </vg-scrub-bar>

                    <vg-controls>
                      <vg-play-pause></vg-play-pause>
                      <vg-playback-button></vg-playback-button>

                      <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                      <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

                      <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                      <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

                      <vg-track-selector></vg-track-selector>
                      <vg-mute></vg-mute>
                      <vg-volume></vg-volume>

                      <vg-fullscreen></vg-fullscreen>
                    </vg-controls>
                    <video controls [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
                      <source type="video/webm" src="{{lesson.video}}">
                    </video>
                  </vg-player>
                </div>
              </div>
            </div>

            <div class="buffer50"></div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
  </mat-tab-group>
</div>
