<app-toast [message]="toast.message"></app-toast>
<div class="content">
  <div class="container">
    <!-- signup form -->
    <div class="buffer20"></div>
    <form class="form-login form-wrapper form-narrow" [formGroup]="registerForm" (ngSubmit)="register()">
      <h3 class="text">Signup</h3>
      <br>
      <div class="form-group" [ngClass]="setClassUsername()">
          <label class="sr-only" for="login-email-page">Username</label>
        <input class="form-control" type="text" name="username" formControlName="username" placeholder="Username" autofocus>
      </div>
      <div class="form-group" [ngClass]="setClassEmail()">
        <label class="sr-only" for="login-email-page">Email</label>
        <input type="email" id="login-email-page" class="email" formControlName="email" placeholder="Email" placeholder="Email">
      </div>
      <div class="form-group" [ngClass]="setClassPassword()">
        <label class="sr-only" for="login-password-page" [ngClass]="setClassPassword()">Password</label>
        <input type="password" id="login-password-page" class="password" name="password" formControlName="password"
          placeholder="Password">
      </div>
      <button type="submit" class="btn">signup</button>
      <br><br>
    <p>Already have an account? <a  routerLink="/login"> Login</a></p>
    </form>
  </div>
</div>

