th {
  color: white;
  font-family: 'Trebuchet MS';
  font-size: 22px;
}

td {
  font-family: 'Trebuchet MS';
  font-size: 18px;
}

legend {
  font-family: 'Trebuchet MS';
}
#auto-complete{
  width:30%;
}
