<div class="content" *ngIf="!isLoading">
  <app-toast [message]="toast.message"></app-toast>
  <div class="loader" *ngIf="isLoading"></div>
  <div class="buffer50"></div>
  <div class="container">
    <div class="row actions">
      <div class="col-lg-3">
        <mat-slide-toggle *ngIf="!AuthService.isAdmin" [(ngModel)]="myCoursesToggle" color="primary">
          My courses
        </mat-slide-toggle>
      </div>
      <div class="col-lg-3">

      </div>
      <div class="col-lg-3">
      </div>
      <div class="col-lg-3">
      </div>
    </div>
    <div class="buffer20"></div>
    <div class="course_container" *ngFor="let course of courses; let i = index" [hidden]="myCoursesToggle && course.users.indexOf(AuthService.currentUser._id) < 0">
      <div class="row">
        <div class="col-lg-4">
          <img *ngIf="course.image" width="340" height="300" src="{{course.image}}">
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-12">
              <h1>{{course.title}}</h1>
            </div>
          </div>
          <div class="buffer20"></div>
          <div class="row">
            <div class="col-lg-3 center">
              <h5>
                <i class="fa fa-money"></i> {{course.price}}$</h5>
            </div>
            <div class="col-lg-3 center">
              <h5>
                <i class="fa fa-clock-o"> Hours :{{course.eta}}</i>
              </h5>
            </div>
            <div class="col-lg-3 center">
              <button [routerLink]="['/syllabus',course._id]" class="btn">View syllabus</button>
            </div>
            <div class="col-lg-3 center">
              <button class="btn btn-buy" *ngIf="course.users.indexOf(AuthService.currentUser._id) < 0 && !AuthService.isAdmin" (click)="purchase(i)">Purchase</button>
              <button class="btn btn-buy" [routerLink]="['/content',course._id]" *ngIf="course.users.indexOf(AuthService.currentUser._id) >= 0 && !AuthService.isAdmin">View course</button>
              <button class="btn btn-buy" [routerLink]="['/publish/new',course._id]" *ngIf="AuthService.isAdmin">Edit course</button>
            </div>
          </div>
          <div class="buffer50"></div>
          <div class="row">
            <div class="col-lg-12">
              <p>{{course.description}}</p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="buffer50"></div>
    </div>
  </div>
</div>


<!-- <div class="card-block">
    <table class="table table-bordered table-striped">
      <thead class="">
        <tr>
          <th>image</th>
          <th>Title</th>
          <th>price</th>
          <th>ETA</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="courses.length === 0">
        <tr>
          <td colspan="4">There are no courses in the DB. Add a new course below.</td>
        </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let course of courses">
          <td>
            <img *ngIf="course.image" src="{{course.image}}">
          </td>
          <td>{{course.title}}</td>
          <td>{{course.price}}</td>
          <td>{{course.eta}}</td>
          <td>

            <a [routerLink]="['/publish/new', course._id]" class="nav-item nav-link" routerLinkActive="active">
              <button class="btn btn-sm btn-warning">
                <i class="fa fa-pencil"></i> Edit</button>
            </a>
            <button class="btn btn-sm btn-danger" (click)="deletecourse(course)">
              <i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->
