<div class="content" *ngIf="isLoading">
  <div class="loader" style="margin-top:20%"></div>
</div>
<div id="embed-api-auth-container"></div>
<div id="chart-container"></div>
<div id="view-selector-container"></div>
<div class="content" *ngIf="!isLoading">
  <app-toast [message]="toast.message"></app-toast>

  <div class="buffer50"></div>
  <div class="container">
    <div class="row actions">
      <div class="col-lg-3">
        <mat-slide-toggle *ngIf="!AuthService.isAdmin" [(ngModel)]="myCoursesToggle" color="primary">
          My courses
        </mat-slide-toggle>
      </div>
      <div class="col-lg-3">

      </div>
      <div class="col-lg-3">
      </div>
      <div class="col-lg-3">
      </div>
    </div>
    <div class="buffer20"></div>
    <div class="course_container" *ngFor="let course of courses; let i = index" [hidden]="myCoursesToggle && course.users.indexOf(AuthService.currentUser._id) < 0">
      <div class="row">
        <div class="col-lg-4">
          <div class="image">
            <img id="image" *ngIf="course.image" width="340" height="300" src="{{course.image}}">
            <div [routerLink]="['/syllabus',course._id]" class="btn overlay-button">view syllabus</div>
          </div>

        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-12">
              <h1>{{course.title}}</h1>
              <p *ngIf="course.couponFlag" st> {{course.couponAmount}}% discount coupon rewarded</p>
            </div>
          </div>
          <div class="buffer20"></div>
          <div class="row">
            <div class="col-lg-2 center">
              <h5>
                <p *ngIf="course.price > 0 && course.couponFlag !== true">price: ${{course.price}}</p>
                <p *ngIf="course.price < 1 && (course.couponFlag !== true || course.couponAmount===100)">price: FREE</p>
                <p *ngIf="course.couponFlag && course.couponAmount < 100">price:
                  <del>${{course.price}}</del> ${{course.price - (course.price * course.couponAmount)/100}}</p>
              </h5>
            </div>
            <div class="col-lg-1 center">

                <i class="fa fa-clock-o"> {{course.eta}}hrs</i>

            </div>
            <div class="col-lg-3 center">
              <button class="btn-buy" *ngIf="course.users.indexOf(AuthService.currentUser._id) < 0 && !AuthService.isAdmin && course.price > 0"
                (click)="purchase(i)">Purchase</button>

              <button class="btn-buy" [routerLink]="['/content',course._id]" *ngIf="(course.users.indexOf(AuthService.currentUser._id)>= 0||course.price < 1) && !AuthService.isAdmin && AuthService.loggedIn">View course</button>
              <button class="btn-buy" [routerLink]="['/register']" *ngIf="(course.users.indexOf(AuthService.currentUser._id)>= 0||course.price < 1) && !AuthService.isAdmin && !AuthService.loggedIn ">View course</button>
              <button class="btn-buy" [routerLink]="['/publish/new',course._id]" *ngIf="AuthService.isAdmin">Edit course</button>
            </div>
            <div class="col-lg-3 center">
              <button class="btn-buy" [routerLink]="['/content',course._id,true]">Preview</button>
            </div>
            <div class="col-lg-3 center">
              <button class="btn-buy" (click)="useCoupon(i)" *ngIf="course.users.indexOf(AuthService.currentUser._id) < 0 && !AuthService.isAdmin && course.price > 0">Use Coupon</button>
            </div>
          </div>
          <div class="buffer50"></div>
          <div class="row" *ngIf="course.useCouponFlag">
            <div class="loader" *ngIf="couponLoading"></div>
            <div class="col-lg-3" *ngIf="!couponLoading">
              <mat-form-field>
                <input matInput placeholder="code" [(ngModel)]="course.coupon">
              </mat-form-field>
            </div>
            <div class="col-lg-3" *ngIf="!couponLoading">
              <button class="btn" (click)="verifyCoupon(i)">use</button>
            </div>
            <div class="col-lg-3"></div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p>{{course.description}}</p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="buffer50"></div>
    </div>
  </div>
</div>
