<div class="content" *ngIf="isLoading">
  <div class="loader" style="margin-top:20%"></div>
</div>
<div class="course-form" aria-label="syllabus" *ngIf="!isLoading">
  <div class="container-fluid">
    <div class="buffer50"></div>
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <mat-form-field class="row">
          <input matInput [(ngModel)]="blog.title" placeholder="Title" />
        </mat-form-field>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="buffer20"></div>
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <mat-form-field class="row">
          <textarea matInput [(ngModel)]="blog.description" placeholder="Description"></textarea>
        </mat-form-field>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="buffer20"></div>
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <label class="upload_button" for="fileupload">Choose title image</label>

        <input type="file" id="fileupload" #fileInput ng2FileSelect [style.display]="'none'" [uploader]="uploader" (change)="previewImage($event)"
          multiple />
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="buffer50"></div>
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div *ngIf="imgPreview && !isLoading" class="row">
          <br>
          <img [src]="imgPreview">
          <br>
        </div>
        <button *ngIf="imgPreview && !isLoading" class="btn" (click)="uploadImage()">upload title image</button>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <quill-editor disabled [(ngModel)]="blog.content" theme="snow"></quill-editor>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="buffer20"></div>
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-2">
        <button class="btn btn-primary" style="width:100%" (click)="save()"> SAVE</button>
      </div>
      <div class="col-lg-2">
        <button class="btn btn-primary" style="width:100%" (click)="delete()" *ngIf="blog._id"> DELETE</button>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
</div>
