<!-- Image Banner: Use the the data-bg-img functionality to create a simple image banner Use spacer classes to make the banner larger with padding, allows for easy responsive changes too see: elements-ctas.htm To make the banner full height/screen add the attributes: data-toggle="full-height" data-offset="#header" -->
<div class="bg-white overlay overlay-primary text-center px-3 py-5 py-lg-15 flex-valign">
  <img src="../assets/img/flock.png">
  <div class="center">
    <h1 id="main">LEARNING</h1>
    <h1 id="lean">VOYAGE</h1>
  </div>
</div>

<div id="features" class="container py-4 py-lg-6">
  <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary" />
  <h2 class="text-center text-uppercase font-weight-bold my-0">
    LEARN NEW TECHNOLOGIES
  </h2>
  <hr class="mb-5 w-50 mx-auto" />
  <div class="row text-center">
    <div class="col-lg-4 py-2">
      <i class="fa fa-tachometer icon-5x text-primary" data-animate="fadeIn" data-animate-delay="0.1"></i>
      <h4 class="mt-2">
        FAST LEARNING
      </h4>
      <p>Fere incassum nostrud praemitto singularis. Accumsan interdico nulla pagus roto typicus vicis.</p>
    </div>
    <div class="col-lg-4 py-2">
      <i class="fa fa-money icon-5x text-primary" data-animate="fadeIn" data-animate-delay="0.2"></i>
      <h4 class="mt-2">
        MINIMAL PRICES
      </h4>
      <p>Caecus facilisis genitus iaceo olim paulatim quia quis roto.</p>
    </div>
    <div class="col-lg-4 py-2">
      <i class="fa fa-rocket icon-5x text-primary" data-animate="fadeIn" data-animate-delay="0.3"></i>
      <h4 class="mt-2">
        LATEST TECHNOLOGIES
      </h4>
      <p>Abigo diam exerci si tation. Camur commoveo enim praesent quadrum roto volutpat.</p>
    </div>
  </div>
</div>

<div id="features" class="container py-4 py-lg-">
  <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary" />
  <h2 class="text-center text-uppercase font-weight-bold my-0">
    Popular courses
  </h2>
  <hr class="mb-5 w-50 mx-auto" />
  <div class="row text-center">
    <div class="col-lg-4 py-2">
      <i class="fa fa-book icon-5x text-primary" data-animate="fadeIn" data-animate-delay="0.1"></i>
      <h4 class="mt-2">
        Fere incassum
      </h4>
      <p>Fere incassum nostrud praemitto singularis. Accumsan interdico nulla pagus roto typicus vicis.</p>
    </div>
    <div class="col-lg-4 py-2">
      <i class="fa fa-institution icon-5x text-primary" data-animate="fadeIn" data-animate-delay="0.2"></i>
      <h4 class="mt-2">
        Caecus facilisis
      </h4>
      <p>Caecus facilisis genitus iaceo olim paulatim quia quis roto.</p>
    </div>
    <div class="col-lg-4 py-2">
      <i class="fa fa-mortar-board icon-5x text-primary" data-animate="fadeIn" data-animate-delay="0.3"></i>
      <h4 class="mt-2">
        Abigo diam exerci
      </h4>
      <p>Abigo diam exerci si tation. Camur commoveo enim praesent quadrum roto volutpat.</p>
    </div>
  </div>
</div>

<div class="buffer"></div>
