<div class="content">
  <div class="loader" *ngIf="!course"></div>
  <div *ngIf="course">
    <div class="buffer100"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <a [routerLink]="['/dashboard']">
            <h4>
              <i class="fa fa-angle-left"> back</i>
            </h4>
          </a>
        </div>
        <div class="col-lg-6">
          <h1>{{course.title}}</h1>
        </div>
        <div class="col-lg-3"></div>
      </div>
      <div class="buffer20"></div>
      <div class="row">
        <div class="col-lg-12">
          <div class="syllabus">
            <div *ngIf="course.syllabus" [innerHTML]="course.syllabus"></div>
            <iframe class="frame" [src]="course.syllabusFile | safe" *ngIf="course.syllabusFile" frameborder="0"></iframe>
          </div>
        </div>
      </div>
      <div class="buffer100"></div>
    </div>
  </div>
</div>
