<mat-tab-group>
  <mat-tab label="course">
    <div class="loader" *ngIf="isLoading"></div>
    <br>
    <h1 style="text-align:center">
      <b>{{course.title}}</b>
    </h1>
    <div class="course-form" *ngIf="!isLoading">
      <legend>Course details
      </legend>
      <mat-form-field class="row">
        <textarea matInput [(ngModel)]="course.title" placeholder="Title"></textarea>
      </mat-form-field>
      <div class="row">
        <mat-slide-toggle [(ngModel)]="priceFree" color="primary">
          Free
        </mat-slide-toggle>
      </div>
      <div class="row" *ngIf="!priceFree">
        <mat-form-field>
          <input matInput type="number" [(ngModel)]="course.price" placeholder="Price in USD">
        </mat-form-field>
      </div>
      <mat-form-field class="row">
        <input matInput type="number" [(ngModel)]="course.eta" placeholder="Estimated time in hours">
      </mat-form-field>
      <div class="container-fluid">
        <div class="row" *ngFor="let coupon of course.coupons;let i=index">
          <div class="col-lg-4">
            <mat-form-field>
              <input matInput [(ngModel)]="coupon.id" placeholder="code">
            </mat-form-field>
          </div>
          <div class="col-lg-2">
            <button class="btn">
              <i class="fa fa-refresh" (click)="refreshCouponId(i)"></i>
            </button>
          </div>
          <div class="col-lg-4">
            <mat-form-field>
              <input matInput type="number" [(ngModel)]="coupon.amount" placeholder="amount">
            </mat-form-field>
          </div>
          <div class="col-lg-2">
            <button class="btn" (click)="deleteCoupon(i)">
              <i class="fa fa-close"></i>
            </button>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
      <button class="btn couponbtn row" (click)="generateCoupon()">Generate coupon</button>
      <mat-form-field class="row">
        <textarea matInput [(ngModel)]="course.description" placeholder="Description"></textarea>
      </mat-form-field>
      <div class="row">
        <div class="form_line">
          <div class="form_controls">
            <div class="upload_button_holder">
              <label class="upload_button" for="fileupload">Choose course logo</label>

              <input type="file" id="fileupload" #fileInput ng2FileSelect [style.display]="'none'" [uploader]="uploader" (change)="previewImage($event)"
                multiple />
            </div>
            <div *ngIf="isLoading" class="loader">loading..</div>
          </div>
        </div>
      </div>
      <div *ngIf="imgPreview && !isLoading" class="row">
        <br>
        <img [src]="imgPreview">
        <br>
      </div>
      <div class="row">
        <button *ngIf="imgPreview && !isLoading" class="btn" (click)="uploadImage()">upload course logo</button>
      </div>
      <div class="buffer"></div>
    </div>
  </mat-tab>
  <mat-tab label="syllabus">
    <app-add-syllabus [course]="course"></app-add-syllabus>
  </mat-tab>
  <mat-tab label="content">
    <div style="min-height:200px">
      <div class="loader" *ngIf="isLoading"></div>
      <app-add-content [course]="course" *ngIf="!isLoading"></app-add-content>
    </div>
  </mat-tab>
</mat-tab-group>
<div style=" height:20px">

</div>
<p style="margin-left:5%">
  <i class="fa fa-warning"> Make sure to upload all files and images before pressing Save</i>
</p>
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-2">
    <button class="submit btn btn-primary" style="text-align:center" (click)="submit(false)"> SAVE WITHOUT PUBLISHING</button>
  </div>
  <div class="col-md-2">
    <button class="submit btn btn-primary" (click)="submit(true)"> SAVE & PUBLISH</button>
  </div>
  <div class="col-md-2">
      <button class="submit btn btn-primary" (click)="delete(course)"> DELETE</button>
    </div>
  <div class="col-md-3">
  </div>
</div>
<div style=" height:20px">

</div>
