<div class="content colored">
  <mat-tab-group>
    <mat-tab label="course" [selectedIndex]="currentTab">
      <div class="course-form">
        <legend>Course details</legend>
        <mat-form-field class="row">
          <textarea matInput [(ngModel)]="course.title" placeholder="Title"></textarea>
        </mat-form-field>
        <mat-form-field class="row">
          <input matInput type="number" [(ngModel)]="course.price" placeholder="Price">
        </mat-form-field>
        <mat-form-field class="row">
          <input matInput type="number" [(ngModel)]="course.eta" placeholder="Estimated time">
        </mat-form-field>
        <mat-form-field class="row">
          <textarea matInput [(ngModel)]="course.description" placeholder="Description"></textarea>
        </mat-form-field>
        <div class="row">
          <label>cover photo</label>
          <input type="file" (change)="setImage($event)">
        </div>
      </div>
    </mat-tab>
    <mat-tab label="syllabus">
      <app-add-syllabus [course]="course" ></app-add-syllabus>
    </mat-tab>
    <mat-tab label="content">
      <div><app-add-content [course]="course" ></app-add-content></div>
    </mat-tab>
  </mat-tab-group>
  <button class="btn btn-success" (click)="submit()">submit</button>
</div>
