<app-toast [message]="toast.message">
</app-toast>
<div class="content">
  <!-- Login form -->
  <form class="my-form container form-login form-wrapper form-narrow" [formGroup]="loginForm" (ngSubmit)="login()">
    <h3 class="text">Login</h3>
    <br>
    <div class="form-group" [ngClass]="setClassEmail()">
      <label class="sr-only" for="login-email-page">Email</label>
      <input type="email" id="login-email-page" class="email" formControlName="email" placeholder="Email" placeholder="Email">
    </div>
    <div class="form-group" [ngClass]="setClassPassword()">
      <label class="sr-only" for="login-password-page" [ngClass]="setClassPassword()">Password</label>
      <input type="password" id="login-password-page" class="password" name="password" formControlName="password"
        placeholder="Password">
    </div>
    <button type="submit" class="btn">Login</button>
    <br><br>
    <p>Don't have an account? <a  routerLink="/register"> register</a></p>
  </form>
</div>
