.my-form {
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  margin-top: 10%;
  padding: 30px 30px 30px 30px;
  -webkit-box-shadow: -1px 2px 69px -15px rgba(0,0,0,0.35);
  -moz-box-shadow: -1px 2px 69px -15px rgba(0,0,0,0.35);
  box-shadow: -1px 2px 69px -15px rgba(0,0,0,0.35);

}

.text {
  text-align: center;
  color:#902B23;
}

.btn {
  width: 100%;
}

img {
  width: 30%;
  height: 20%;
  margin-left: 70%;
  float: right;
  z-index: 12;
}
